html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:nth-child(1) {
  transform: rotate(-13deg);
  left: 21%;
  top: 100px;
}

.polaroid:nth-child(2) {
  transform: rotate(5deg);
  z-index: 2;
  left: 30%;
  top: 140px;
}

.polaroid:last-child {
  transform: rotate(35deg);
  z-index: 1;
  left: 39%;
  top: 100px;
}

.polaroid:hover {
  transition: all 300ms linear;
  transform: rotate(0deg);
  z-index: 4;
  box-shadow: 3px 3px 30px #000;
}
